/* application specific root styles */
:root {
    /* web styles */
    --font-size: 16;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    --font-family-monospace: Input Mono, Monaco, Consolas, Lucida Console, Liberation Mono,
        monospace;

    /* Apply default styles */
    font-family: var(--font-family-sans-serif);
    font-size: calc(var(--font-size) * 1px);
    line-height: calc(var(--font-size) * 1.5px);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 1200px;
    background-color: #2196f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* webpage */
    --color: 0, 0, 0;
    --fill: 230, 230, 230;
    --toolbar-height: 28px;
    --toolbar-fill: rgba(255, 255, 255, 0.3);
    --toolbar-filter: blur(20px) brightness(110%) saturate(125%);
    --toolbar-color: black;
    --toolbar-item-shadow: none;
}

/* theme switcher */
@media (prefers-color-scheme: dark) {
    :root {
        --color: 255, 255, 255;
        --fill: 14, 23, 20;
        --toolbar-fill: rgba(0, 0, 0, 0.05);
        --toolbar-color: white;
        --toolbar-filter: blur(20px) brightness(80%) saturate(125%);
        --toolbar-item-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.Hotlist {
    --color-text: 0, 0, 0;
    --color-background: 255, 255, 255;

    /* app page style */
    --page-shadow-size: 8;
    --page-shadow-color: 0, 0, 0;
    --page-shadow-opacity: 0.1;
    --page-border-radius: 10;
    --page-padding: 16;
    --page-offset-x: 0;

    /* todo item styles */
    --todo-padding: 16;

    /* checkbox styles */
    --checkbox-size: 20;
    --checkbox-border-radius: 4;

    /* text input styles */
    --input-border-radius: 4;

    /* color picker styles */
    --color-picker-size: 28;

    /* transition props to switch between themes */
    --theme-transition: 0.2s ease-in-out;
}

.Hotlist[data-theme='light'] {
    --color-text: 0, 0, 0;
    --color-background: 255, 255, 255;
    --color-strength: 1;
}

.Hotlist[data-theme='dim'] {
    --color-text: 255, 255, 255;
    --color-background: 44, 44, 50;
    --color-strength: 1.5;
}

.Hotlist[data-theme='dark'] {
    --color-text: 255, 255, 255;
    --color-background: 25, 23, 23;
    --color-strength: 1.5;
}

.app {
    position: absolute;
    top: calc(var(--toolbar-height) + 10px);
    width: 440px;
}

.toolbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--toolbar-height);
    color: var(--toolbar-color);
    backdrop-filter: var(--toolbar-filter);
    -webkit-backdrop-filter: var(--toolbar-filter);
    background-color: var(--toolbar-fill);
    font-size: 14px;
    padding-right: 5px;
    z-index: 2;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    min-width: 36px;
    background: transparent;
    border: none;
    color: inherit;
    filter: drop-shadow(var(--toolbar-item-shadow));
}

.icon svg {
    display: block;
    width: 18px;
    height: 18px;
}

.toolbar .date,
.toolbar .time {
    color: inherit;
    font-weight: 500;
    text-shadow: var(--toolbar-item-shadow);
    cursor: default;
}

.toolbar .date {
    margin-left: 8px;
    margin-right: 8px;
}

.toolbar .time {
    margin-left: 4px;
    margin-right: 8px;
}

.controls {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
}

.controls button {
    border: 0;
    border-radius: 9999px;
    padding: 5px 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.window {
    position: fixed;
    top: var(--toolbar-height);
    left: 0;
    right: 0;
    border-bottom: 1px dashed rgba(255, 0, 0, 0.5);
    z-index: 9999999;
    pointer-events: none;
    opacity: 0;
}

.tray-menu {
    position: absolute;
    top: calc(var(--toolbar-height) + 1px);
    background: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    color: white;
    z-index: 999999999;
    padding: 2px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 0 0.5px rgba(0, 0, 0, 1),
        0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1);
}

.tray-menu,
.tray-menu li {
    margin: 0;
    list-style: none;
}

.tray-menu hr {
    opacity: 0.15;
    height: 1px;
    background: white;
    border: none;
    margin: 0;
}

.tray-menu li {
    margin: 3px;
    padding: 0 10px;
    user-select: none;
}

.tray-menu li[data-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
}

.tray-menu li[data-disabled='false']:hover {
    border-radius: 4px;
    background-color: #3e8ee6;
}
